@import 'tailwindcss';

@theme inline {
  --color-accent: oklch(95% 0.04 95);
}

@layer base {
  html {
    user-select: none;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    text-rendering: geometricPrecision;

    body {
      font-family: Arial, Helvetica, sans-serif;

      ::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
