@import 'tailwindcss';

@custom-variant disabled (&:disabled);
@custom-variant focus-visible (&:focus-visible);
@custom-variant hover (&:hover);

@theme {
  --font-sans: 'Bricolage Grotesque', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --spacing-2: 8px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-24: 96px;
  --spacing-32: 128px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;
  --font-size-3xl: 48px;

  --animate-fade-in: fadeIn 500ms cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

@layer base {
  * {
    user-select: none;
    scroll-behavior: smooth;
    font-family: var(--font-sans);
  }

  input,
  textarea,
  [contenteditable] {
    user-select: text;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(var(--spacing-2));
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .animate-fade-in {
    animation: var(--animate-fade-in);
  }
}
